@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Anton&family=Roboto&family=Montserrat&display=swap");

.color-nav {
    background-color: #006992;
}

.nav-logo {
    width: 10%;
    height: auto;
    padding: 0em;
    margin: 0em;
    background-color: #006992;
}

.nav-link {
    background-color: #006992;
    font-family: Oswald, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 120%;
}