@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Anton&family=Roboto&family=Montserrat&display=swap");

.create-page {
    text-align: center;
}

.page-title {
    font-family: Oswald, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-subtitles {
    font-family: Oswald, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.language-dropdown {
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    font-family: Oswald, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5em 1em;
    margin: 0em 2em 2em 2em;
}

.input-boxes {
    background-color: #D9D9D9;
    border: none;
    border-radius: 5px;
    font-family: Oswald, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5em 1em;
    margin: 0em 2em 2em 2em;
}

.submit-button {
    background-color: #ECA400;
    font-family: Oswald, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #EAF8BF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 130%;
    border-radius: 25px;
    padding: 0.3em 1.7em;
    margin-bottom: 1em;
    border: none;
    display: inline-block;
}

.submit-button:hover {
    background-color: #006992;
    color: #ECA400;
}
