.flashcard-grid {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px
}

.flashcard {
  border: 1px solid #ccc;
  padding: 20px;
  height: 250px;
  width: auto;
  background-color: #006992;
  border-radius: 15px;
}

.view-flashcard-btn {
  background-color: #ECA400;
  font-family: Oswald, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #EAF8BF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 130%;
  border-radius: 25px;
  padding: 0.3em 1.7em;
  margin-bottom: 1em;
  border: none;
}

.view-flashcard-btn:hover {
  background-color: #006992;
  color: #ECA400;
}

.card-text {
  font-family: Oswald, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ECA400;
  background-color: transparent;
  font-size: 200%;
}
