* {
    text-align: center;
    background-color: #e006b1;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-image {
    width: auto;
    height: 35vh;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
    opacity: 80%;
}

.about-text {
    color: #14293D;
    font-weight: bold;
    font-size: 18px;
}

.account-button {
    margin-top: 10px;
    background-color: #ECA400;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    border: 3px solid white;
    text-decoration: none;
}

.account-button:hover {
    transform: scale(1.1);
}

.language-choice {
    color: #14293D;
    font-weight: bold;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-links {
    background-color: #14293D;
    color: #ECA400;
    text-decoration: none;
    padding: 10px;
    border: 3px solid #479ae8;
    margin: 5px;
    border-radius: 10px;
    width: 15%;
    font-size: 25px;
    display: flex;
    align-self: center;
}
.language-links:hover {
    transform: scale(1.1);
}

.flags {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 30px;
}

h1 {
    color: #14293D;
}

p {
    color: #14293D;
}

h2 {
    color: #ECA400
}

